<!DOCTYPE html>
<html data-ng-app = 'generosity'>
	<head>
		<title> Generosity </title>

		<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			     	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			      <a class="navbar-brand" href="#" style="color: white;">Generosity Engine</a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			     	<ul class="nav navbar-nav">
				        <li><a href="#/profile" style="color: white;">Profile</a></li>
				        <li><a href="#/challenge" style="color: white;">Challenge</a></li>
				        <li><a href="#/map" style="color: white;">Map</a></li>
				        <li><a href="#/shop" style="color: white;">Shop</a></li>
			      	</ul>
			     	<form class="navbar-form navbar-left" role="search">
			        	<div class="form-group">
			         		<input type="text" class="form-control" placeholder="Search users">
			        	</div>
			        	<button type="submit" class="btn btn-default">Search</button>
			     	</form>
			     	<ul class="nav navbar-nav navbar-right">
			     		<li class="dropdown">
				         	<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: white;">Dropdown <span class="caret"></span></a>
				          	<ul class="dropdown-menu" role="menu">
				            <li><a href="#">Action</a></li>
				            <li><a href="#">Action</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Options</a></li>
				            <li><a href="#">Account Settings</a></li>
				            <li class="divider"></li>
				            <li><a href="#">Log out</a></li>
				          </ul>
				        </li>
			     	</ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
		</nav>

	</head>
	<body data-ng-controller = "UsersController as user" data-ng-init="user.createDummyUser()">
		<li><a href="#"> Index </a></li>
		<div ng-view=""></div>

		<button data-ng-click="user.addUser()">Add me to the database.</button>

		Hello there.
		<br>
		I am test user "{{user.username}}"
		<br>
		Real Name: {{user.realName}}
		<br>
		Available Hours: {{user.availableHours}}
		<br>
		Current City: {{user.currentCity}}
		<br>
		Current Location: {{user.currentLocation}}
		<br>
		<div class="css1">
			Current Recipient: {{user.recipient}}
		</div>

		<form name="usersForm" data-ng-controller = "UsersController as user" style="margin-left: 3%" data-ng-submit="user.addUser()" novalidate>
			<div class="input-group" style="margin-bottom:1%">
			  	<span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none;">Username: </span>
			  		<input type="text" class="form-control" placeholder="Username" data-ng-model="user.username" style="max-width: 20%;" required>
			  	</span>
			</div>
			<div class="input-group" style="margin-bottom:1%">
			  	<span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Password:  </span>
			  		<input type="password" class="form-control" placeholder="Password" data-ng-model="user.password" style="max-width: 20%;" required>
			  	</span>
			</div>
			<div class="input-group" style="margin-bottom:1%">
			  	<span class="input-group-addon" style="background-color: transparent; padding-right:4.5em; border-style:none">Real Name: </span>
			  		<input type="text" class="form-control" placeholder="Real Name" data-ng-model="user.realName" style="max-width: 20%;" required>
			  	</span>
			</div>
			<div class="input-group" style="margin-bottom:1%">
			  	<span class="input-group-addon" style="background-color: transparent; padding-right:2.5em; border-style:none">Available Hours:</span>
			  		<input type="text" class="form-control" placeholder="6pm-6am" data-ng-model="user.availableHours" style="max-width: 20%;" required>
			  	</span>
			</div>
			<div class="input-group" style="margin-bottom:1%">
			  	<span class="input-group-addon" style="background-color: transparent; padding-right:4.3em; border-style:none">Current City:</span>
			  		<input type="text" class="form-control" placeholder="Berkeley, California" data-ng-model="user.availableHours" style="max-width: 20%;" required>
			  	</span>
			</div>
	      	<button class="btn btn-default" style="background-color: lightskyblue; margin-left: 1%">Create Account</button>
	    </form>
	</body>
</html>