<!DOCTYPE html>
<html>
	<head>
	<%= javascript_include_tag "front"%>
	
	<%= javascript_include_tag "spec/users-spec"%>
	<%= javascript_include_tag "spec/gifts-spec"%>

		<title> Generosity </title>

	</head>

	<body data-ng-app = 'generosity' data-ng-controller = "UsersController as user" data-ng-init="template=0">
		<navbar></navbar>
		<div class="main-content">

			<% if Rails.env == "development" %>
				Template: {{template}}
			
				<button data-ng-click="template=99" style="background-color:teal">Run Unit Tests</button>
				<!-- <button data-ng-click="template=7" style="background-color:teal">Show Sample Profile</button> -->
				<button data-ng-click="template=8" style="background-color:teal"><a href="#gift/1">Show Sample Gift</a></button>
				<button data-ng-click="template=9" style="background-color:teal"><a href="#gifts-form">Show Gift Form</a></button>

				<users-tests data-ng-if="template==99"></users-tests>
				<gifts-tests data-ng-if="template==99"></gifts-tests>

			<%end%>

			<div ng-view></div>

			<gift-form data-ng-show="template==9"></gift-form>
			<div data-ng-controller="GiftsController as testGift" data-ng-init="testGift.createDummyGift()">
				<gift data-ng-show="template ==8" name="{{testGift.name}}" giver="{{testGift.giver}}" recipient="{{testGift.recipient}}" rating="{{testGift.rating}}" description="{{testGift.description}}"></gift>
			</div>
		</div>

	</body>
</html>