<!DOCTYPE html>
<html data-ng-app = 'generosity'>
	<head>
		<title> Generosity </title>

		<navbar></navbar>

	</head>
	<body data-ng-controller = "UsersController as user" data-ng-init="template=0">

		<div ng-view></div>

		Template: {{template}}

		<button data-ng-click="template=99">Run User Tests</button>

		<users-form data-ng-show="template==5"></users-form>
		<users-tests data-ng-if="template==99"></users-tests>

	</body>
</html>