// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



h2{
	font-family: Zapf Chancery, cursive;
	font-size: 50px;
}

.input-group{
	margin: 0 auto;
	font-family: lato, sans-serif;

}
.input-group-addon{
	color: white !important;
	font-family: lato, sans-serif;
	font-size: 14px;
}

.usercard{
	-webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
	padding: 30px;
	box-shadow: rgba(58,69,94, .1) 0px 0px 1em inset, rgba(58,69,94, .1) 0px 0px 1em inset, rgba(58,69,94, .1) 0px 0px 1em inset, rgba(58,69,94, .1) 0px 0px 1em inset;
	font-family: lato, sans-serif;
	background-color: #1B1B28;
	margin: 0 auto;
	color: white !important;
	width: 600px;
	background: rgba(27,27,40,.9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf7fa', endColorstr='#8aacb5', GradientType=0 );
}

.panel {
    width: 300px;
    height: 500px;
    margin: auto;
    position: relative;
}
.card {
    width: 100%;
    height: 100%;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0px;
    left: 0px;
}
.gift-front {
		font-size: 35px;
		line-height: 37px;
		color: white;
		padding: 30px;
		width: 300px;
		height: 500px;
		background: rgba(27,27,40,.9);
		position: absolute;
    z-index: 2;
     -webkit-backface-visibility: hidden;
}
.gift-back {
		color: white;
		font-size: 35px;
		line-height: 37px;
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		padding: 30px;
		width: 300px;
		height: 500px;
		background: rgba(27,27,40,.9);
		position: absolute;
    z-index: 1;
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);  
    transform: rotateX(-180deg);  
    -webkit-backface-visibility: hidden;
}
.panel:hover .gift-front {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.panel:hover .gift-back {
    z-index: 2;   
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.giftholder {
	opacity:0.9;
	border-radius: 20px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-image: url("http://i.imgur.com/fPHajMl.jpg") 30 30 stretch;
	color: black !important;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	font-family: lato, sans-serif;
	margin-top: 30px;
	padding: 30px;
	padding-bottom: 120px;
	background-color: white;
}

.circlemage {
		color: black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile_info{
	font-family: lato, sans-serif;
	padding-top: 30px;
	margin: 0 auto;
	width: 300px;
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.05); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

.challenge_button{
	font-size: 30px;
	line-height: 40px;
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
	color: white;
	padding: 30px;
	text-align: center;
	background-color: transparent;
	width: 65%;
	margin: 0 auto;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 30px;
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 2000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}