// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group{
	margin: 0 auto;

}

.input-group-addon{
	color: #417C7C !important;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size: 14px;
}

.usercard{
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	background-color: #757473;
	margin: 0 auto;
	color: white;
	width: 600px;
	border-radius: 29px 29px 8px 8px;
	-moz-border-radius: 29px 29px 8px 8px;
	-webkit-border-radius: 29px 29px 8px 8px;
	border: 3px solid #ffffff;
	background: rgba(58,69,94,.9);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf7fa', endColorstr='#8aacb5', GradientType=0 );
}
.circlemage {
		color: black;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile_info{
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	padding-top: 30px;
	margin: 0 auto;
	width: 300px;
}

@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.08); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.05); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

.challenge_button{
	font-size: 30px;
	line-height: 40px;
	font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, 'Helvetica Inserat', 'Bitstream Vera Sans Bold', 'Arial Black', 'sans serif';
	color: white;
	padding: 30px;
	text-align: center;
	background-color: transparent;
	width: 30%;
	margin: 0 auto;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 30px;
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 2000ms;
	-webkit-transform-origin:70% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}