<div class="container-fluid" style="margin-top: 5%;" data-ng-init="receivingUser.getChallengeForCurrentUser()">
	<div style="width: 100%">
	<div class="usercard" data-ng-show="receivingUser.hasCurrentChallenge">
		<div class = "holder" style ="width: 100%; text-align: center; padding-top: 30px;">
		<img class="circlemage" src="http://images.clipartpanda.com/question-question_mark_blue.png" >
		<br>
		</div>
		<div class = "profile_info">
		<br>
		Best timeframe: {{receivingUser.availableHours}}
		<br> 
		<br>
		Current city: {{receivingUser.currentCity}}
		<br>
		<br>
		Reputation: {{receivingUser.reputation}}
		<br>
		<br>
		About me: {{receivingUser.bio}}
		<br>
		<br>
		<a href="#edit-user" data-ng-show="{{canEdit}}"><button style="background-color:teal; color:white">Edit Details</button></a>
		</div>
		</div>
	</div>
	<button data-ng-click="receivingUser.addChallenge()" data-ng-hide="receivingUser.hasCurrentChallenge" style="background-color:teal; color:white">Get a Challenge</button>
</div>