<div class="container-fluid" style="margin-top: 5%;" data-ng-init="receivingUser.getChallengeForCurrentUser(); receivingUser.checkIfOnQueue()">
	<div style="width: 100%">
	<div class="usercard" data-ng-show="receivingUser.hasCurrentChallenge">
		<div class = "holder" style ="width: 100%; text-align: center; padding-top: 30px;">

		
		<div class= "challenge_button pulse">A Challenge Approaches!</div>

		<img class="circlemage" src="{{receivingUser.imageUrl}}" >
		<br>
		
		<div class = "profile_info" style = "padding-bottom: 30px;">
		<br>
		Username: {{receivingUser.reciever}}
		<br>
		<br>
		Best timeframe: {{receivingUser.availableHours}}
		<br> 
		<br>
		Current city: {{receivingUser.currentCity}}
		<br>
		<br>
		Reputation: {{receivingUser.reputation}}
		<br>
		<br>
		About me: {{receivingUser.bio}}
		<br>
		<br>
		<!-- <a href="#edit-user" data-ng-show="{{canEdit}}"><button style="background-color:teal; color:white">Edit Details</button></a> -->
	    <a class="btn btn-default"data-ng-hide="receivingUser.code == -1" href="#gifts-form">Choose Gift!</a>
	  </div>
		</div>
		</div>

	</div>

    <div class="error">{{queueMessage}}</div>
    <div class="error">{{challengeMessage}}</div>

	<button data-ng-click="receivingUser.addChallenge()" data-ng-hide="receivingUser.hasCurrentChallenge" style="background-color:teal; color:white">Get a Challenge</button>
	<button data-ng-click="receivingUser.joinQueue()" data-ng-hide="receivingUser.onQueue" style="background-color:teal; color:white">Join Queue</button>
</div>