<div class="container-fluid" style="margin-top:-.2%">
	<span class="profile-pic">
		<img src="http://i1290.photobucket.com/albums/b531/orangepikmin333/shittypaintjob_zpscbf470a8.jpg"/>
		<div>
			{{name}}
		</div>
	</span>
	<span class="profile-info">
		<span class="tag">Giver: </span>{{realName}}
		<br>
		<span class="tag">Recipient: </span>{{availableHours}}
		<br>
		<span class="tag">Rating: </span>{{description}}
		<br>
		<span class="tag">Description: </span>{{currentCity}}
		<br>
	</span>
</div>