<div class="container-fluid" style="margin-top:-.2%" data-ng-init="profiledGift.getGiftFromUrlParams()">
	<div class = "usercard">
		<img style="height:200px; width:200px" src="{{profiledGift.imageUrl}}"/>
			{{profiledGift.name}}
		Giver: {{profiledGift.giver}}
		<br>
		Recipient: {{profiledGift.recipient}}
		<br>
				Rating: {{profiledGift.rating}}/5
		<br>Description: {{profiledGift.description}}
		<br>
	</div>
</div>