<div class="container-fluid" style="margin-top:-.2%" data-ng-init="profiledGift.getGiftFromUrlParams()">
	<div class = "giftcard" style="padding: 30px;">
		<div class="input-group" style="margin-bottom:1%">
		<img style="height:200px; width:200px" src="{{profiledGift.imageUrl}}"/>
		</div>
		<div class="input-group" style="margin-bottom:1%">
			{{profiledGift.name}}
		</div>
		<div class="input-group" style="margin-bottom:1%">
		Giver: {{profiledGift.giver}}
		</div>
		<br>
		<div class="input-group" style="margin-bottom:1%">
		Recipient: {{profiledGift.recipient}}
		</div>
		<br>
		<div class="input-group" style="margin-bottom:1%">
				Rating: {{profiledGift.rating}}/5
		</div>
		<br>
		<div class="input-group" style="margin-bottom:1%">
		Description: {{profiledGift.bio}}
		</div>
		<br>
		<div class="input-group" style="margin-bottom:1%">
		Review: {{profiledGift.review}}
		</div>
		<br>
	</div>
</div>