<div class="container-fluid" style="margin-top:-.2%">
	<span class="profile-pic">
		<img src="http://cdn02.animenewsnetwork.com/thumbnails/max500x600/encyc/A15757-989316051.1386311773.jpg"></img>	
	</span>
	<span class="profile-info">
		yolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololoolooyolololololololololoololololololololololollololololololololololololololooloo
	</span>
</div>