<div class="container-fluid" style="margin-top: 5%;" data-ng-init="profiledUser.getUserFromUrlParams(); profiledUser.checkIfLoggedInUser()">
	<div style="width: 100%">
	<div class="usercard">
		<div class = "holder" style ="width: 100%; text-align: center; padding-top: 30px;">
		<img class="circlemage" src="{{profiledUser.profileUrl}}" >
		<br>
		{{profiledUser.username}}
		</div>
		<div class = "profile_info">
		<br>
		Real name: {{profiledUser.realName}}
		<br>
		<br>
		Best timeframe: {{profiledUser.availableHours}}
		<br> 
		<br>
		Current city: {{profiledUser.currentCity}}
		<br>
		<br>
		Reputation: {{profiledUser.reputation}}
		<br>
		<br>
		About me: {{profiledUser.bio}}
		<br>
		<br>
		<a href="#edit-user" data-ng-show="{{canEdit}}" style="margin-left: 22%"><button style="background-color:teal; color:white; margin-bottom: 30px;">Edit Details</button></a>
		</div>
		</div>
	</div>

	<div class= "giftholder">
	<h2>Given Gifts:</h2>
		
	
	<div data-ng-repeat="aGift in profiledUser.givenGifts" style="display: inline-block; margin: 10px;">
		<gift-list-element></gift-list-element>		
	</div>
	</div>

	<div class= "giftholder">
	<h2>Received Gifts:</h2>

	<div data-ng-repeat="aGift in profiledUser.receivedGifts">
		<gift-list-element></gift-list-element>		
	</div>
	</div>
</div>