<div class="container-fluid" style="margin-top:-.2%">
	<span class="profile-pic">
		<img src="http://cdn02.animenewsnetwork.com/thumbnails/max500x600/encyc/A15757-989316051.1386311773.jpg"></img>	
		<div>
			{{username}}
		</div>
	</span>
	<span class="profile-info">
		<span class="tag">Real name: </span>{{realName}}
		<br>
		<span class="tag">Best timeframe: </span>{{availableHours}}
		<br>
		<span class="tag">Current city: </span>{{currentCity}}
		<br>
		<span class="tag">Reputation: </span>{{reputation}}
		<br>
		<span class="tag">About me: </span>{{description}}
	</span>
</div>