<div class="container-fluid" style="margin-top:-.2%">
	<span class="profile-pic">
		<img src="http://cdn02.animenewsnetwork.com/thumbnails/max500x600/encyc/A15757-989316051.1386311773.jpg"></img>	
		{{username}}
	</span>
	<span class="profile-info">
		Real name: {{realName}}
		<br>
		Best timeframe: {{availableHours}}
		<br>
		Current city: {{currentCity}}
		<br>
		About me: {{description}}
	</span>
</div>