<div class="container-fluid" style="margin-top: 5%;" data-ng-init="profiledUser.getUserFromUrlParams(); profiledUser.checkIfLoggedInUser()">
	<div style="width: 100%">
	<div class="usercard">
		<div class = "holder" style ="width: 100%; text-align: center; padding-top: 30px;">
		<img class="circlemage" src="{{profiledUser.profileUrl}}" >
		<br>
		{{profiledUser.username}}
		</div>
		<div class = "profile_info">
		<br>
		Real name: {{profiledUser.realName}}
		<br>
		<br>
		Best timeframe: {{profiledUser.availableHours}}
		<br> 
		<br>
		Current city: {{profiledUser.currentCity}}
		<br>
		<br>
		Reputation: {{profiledUser.reputation}}
		<br>
		<br>
		About me: {{profiledUser.bio}}
		<br>
		<br>
		<a href="#edit-user" data-ng-show="{{canEdit}}"><button style="background-color:teal; color:white; margin-left: 70px;margin-bottom: 30px;">Edit Details</button></a>
		</div>
		</div>
	</div>
	<br>
	Given Gifts:
	<br>
	
	<div data-ng-repeat="aGift in profiledUser.givenGifts">
		<gift-list-element></gift-list-element>		

	</div>
</div>