<form name="usersForm" style="" data-ng-submit="newUser.addUser()" novalidate>
<div class="usercard">
  
      <div class="input-group" style="padding-top: 30px; text-align: center">
        <table width="100%">
          <tr>
            <td width="300px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none;">Username: </span>
            </td>
            <td width="300px;">
              <input type="text" class="form-control" placeholder="Username" data-ng-model="newUser.username" style="width: 300px" required>
            </td>
          </tr>
        </table>
      </div>
      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="300px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Password:  </span>
            </td>
            <td width="300px;">
              <input type="password" class="form-control" placeholder="Password" data-ng-model="newUser.password" style="width: 300px" required>
            </td>
          </tr>
        </table>
      </div>
      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="300px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Real Name:  </span>
            </td>
            <td width="300px;">
              <input type="text" class="form-control" placeholder="Real Name" data-ng-model="newUser.realName" style="width: 300px" required>
            </td>
          </tr>
        </table>
      </div>
      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="300px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Available Hours:  </span>
            </td>
            <td width="300px;">
              <input type="text" class="form-control" placeholder="6pm-6am" data-ng-model="newUser.availableHours" style="width: 300px" required>
            </td>
          </tr>
        </table>
      </div>
      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="300px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Current City:  </span>
            </td>
            <td width="300px;">
              <input type="text" class="form-control" placeholder="Berkeley, California" data-ng-model="newUser.currentCity" style="width: 300px" required>
            </td>
          </tr>
        </table>
      </div>

      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="300px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Your Bio:  </span>
            </td>
            <td width="300px;">
              <textarea class="form-control" placeholder="I like camels." data-ng-model="newUser.bio" style="width: 300px; height: 5em;" required>
              </textarea>
            </td>
          </tr>
        </table>
      </div>

      <div class="input-group" style="margin-bottom:1%">
        <table width="100%">
          <tr>
            <td width="300px;">
              <span class="input-group-addon" style="background-color: transparent; padding-right:5em; border-style:none">Avatar URL:  </span>
            </td>
            <td width="300px;">
              <input type="text" class="form-control" placeholder="trollface.jpg" data-ng-model="newUser.profileUrl" style="width: 300px" required>
            </td>
          </tr>
        </table>
      </div>
      <div class="input-group" style="margin-bottom:1%">
        <div>
          Your avatar: <img style="display: inline-block; width:100px; height:100px;" src="{{newUser.profileUrl}}">
        </div>
      </div>

      <div class="error">{{message}}</div>
      <div class="input-group" style="margin-bottom:1%">
      <button class="btn btn-default">Create Account</button>
      </div>
      <div style="height: 30px;"> </div>
</div>
</form>
